<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.redemption_api.meta.user.dao.UserBaseDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="userMap" type="cc.redemption_api.meta.user.entity.UserView">
        <result property="name" column="user_name"/>
        <result property="ICNumber" column="ic_number"/>
        <result property="ic1" column="ic_1"/>
        <result property="ic2" column="ic_2"/>
        <result property="ic3" column="ic_3"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="createUserBase" parameterType="cc.redemption_api.meta.user.entity.UserBase">
        insert into user_base
        (user_id, user_name, phone, address,
         postcode, email,
         ic_number, ic_1, ic_2, ic_3,
         create_time, phone1, phone2)
        values (#{userId}, #{userName}, #{phone},
                #{address}, #{postcode}, #{email}, #{ICNumber},
                #{ic1}, #{ic2}, #{ic3}, #{createTime}, #{phone1}, #{phone2})
    </insert>

    <select id="getUserBase" parameterType="map" resultMap="userMap">
        select * from user_base
        where 1=1
        <choose>
            <when test="phone!=null">
                and phone=#{phone}
            </when>
        </choose>
        <choose>
            <when test="icNumber!=null">
                and ic_number=#{icNumber}
            </when>
        </choose>
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
    </select>

    <select id="listUserBase" parameterType="map" resultMap="userMap">
        select * from user_base
        where 1=1
        <choose>
            <when test="phone!=null"></when>
        </choose>
        order by create_time desc
    </select>

    <select id="totalUserBase" parameterType="map" resultType="java.lang.Integer">
        select count(ids) as total from user_base
        where 1=1
        <choose>
            <when test="phone!=null">

            </when>
        </choose>
    </select>
</mapper>